body {
  --width-hexagon: 100px;
  --height-hexagon: calc(var(--width-hexagon) / var(--ratio));
  --ratio: 1.73;
  --hexagon: rgb(0, 128, 0);
  --hexagon-margin-left: 3px;
  --hexagon-margin-top: 3px
}

.container {
  display: flex;
  flex-direction: row;
  margin: 100px auto;
  transform: rotateX(45deg);
}

.hexagon::before,
.hexagon::after {
  content: "";
  position: absolute;
  border-left: calc(var(--width-hexagon) / 2) solid transparent;
  border-right: calc(var(--width-hexagon) / 2) solid transparent;
}

.hexagon::before {
  bottom: 100%;
  border-bottom: calc(var(--width-hexagon) / (var(--ratio) * 2)) solid
    var(--hexagon);
}

.hexagon::after {
  top: 100%;
  border-top: calc(var(--width-hexagon) / (var(--ratio) * 2)) solid
    var(--hexagon);
}

.hexagon {
  position: relative;
  width: var(--width-hexagon);
  height: calc(var(--width-hexagon) / var(--ratio));
  background: var(--hexagon);
  margin-left: 3px;
  margin-top: var(--hexagon-margin-top);
  animation: slideTop 1s ease-in-out 0.5s forwards;
  opacity: 0
}

@keyframes slideTop {
  0% {
    transform: translateY(200px);
    opacity: 0
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
